<table id="image-row">
	<tr>
		{% for img in unique_numbers %}
		<td><img src="/session/{{ uuid }}/sugary_image/{{ img }}" alt=""></td>
		{% endfor %}
	</tr>
</table>
<table class="table">
	<thead style="font-weight: bold; color: lightgreen">
		<tr>
			<th>Top</th>
			<th>Guess</th>
			<th>Number of cells in row</th>
			<th>Difference(pxls)</th>
		</tr>
	</thead>
	<tbody>
		{% for row in rows %}
		<tr>
			<td>{{ loop.index }}</td>
			<td>{{ row.guess }}</td>
			<td>{{ row.cells }}</td>
			<td>{{ row.diff }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
